*{
    font-family: sans-serif;
}
#card{
    background-color: aqua;
    color: rgb(0, 0, 0);
    margin: 30px ;
    width: 300px;
    padding: 30px 20px;
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 0 30px 20px 30px ;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#container{
    display: flex;
    background-color: rgb(51, 51, 156);
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 500px; */
    /* width: 500px; */
    /* overflow: hidden; */
}
li{
    padding: 5px;
}