#card{
    background-color: aqua;
    color: aliceblue;
    margin: 30px ;
    width: 300px;
    padding: 20px;
    border: 2px solid burlywood;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}