#Home, #Complains, #Profile {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
    border-radius: 25px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
}

#SignUpPage{
    display: flex;
    flex-direction: column;
    margin: 40px 140px;
    padding: 20px;
    background-color: antiquewhite;
}