#Home, #Complains, #Profile {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
    border-radius: 25px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
}