#Home, #Complains, #Profile {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
    border-radius: 25px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
}

#SignUpPage{
    display: flex;
    flex-direction: row;
    margin: 40px 100px;
    padding: 20px 110px;
    align-items: center;
    background-color: antiquewhite;
}
.ant-table-thead > tr > th {
    background-color: #1e3a63;
    color: white;
    font-weight: bold;
}
.description {
    color: #1e3a63;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
}