body {
    background: #384152;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

h2 {
    color: #3498db;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin: 5px;
    color: #000;
}

.loading-container,
.error-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    color: #555;
    background-color: #f0f4f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 40px auto;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    background: #232730;
}

.user-card {
    border: 4px double darkblue;
    border-radius: 8px;
    padding: 20px;
    margin: 0 5px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

a {
    color: #3498db;
    text-decoration: none;
}